.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      h1.text-center.login-title Sign in to continue to Riten
      .account-wall
        img(class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="")
        form(class="form-signin")
          input(type="text" class="form-control" placeholder="Username" model="username" required autofocus)
          input(type="password" class="form-control" placeholder="Password" model="password" required)
          button(class="btn btn-lg btn-primary btn-block" type="submit") Sign in
          label(class="checkbox pull-left") 
            span Remember me            
            input(type="checkbox" model="remember" value="remember-me") 
          a(href="help" class="pull-right need-help") Need help? 
            span(class="clearfix")
      a(href="#" class="text-center new-account") Create an account